<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nordicorework.com.br.nuvixlegacy"
    platformBuildVersionCode="36"
    platformBuildVersionName="16"
    android:versionCode="9"
    android:versionName="2.5"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="34"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.Ad_ID"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <permission
        android:name="nordicorework.com.br.nuvixlegacy.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="nordicorework.com.br.nuvixlegacy.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <application
        android:theme="@style/AppTheme.NoActionBar"
        android:label="NUVIX LEGACY"
        android:icon="@mipmap/ic_launcher"
        android:name="com.legacy.prime.activity.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:banner="@drawable/servebanner"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.LiveTvActivity1"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.diegodev.apidesportes.jogos.ActivityEsporte"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.player.PlayerSeries"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.p171ui.AtvActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.Welcome"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.Mobile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.player.PlayerMovies"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.Mobile.MobileActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.Mobile.QrScannerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:name="com.legacy.prime.activity.player.YouTubePlayerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.AddListMac"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.Login.SignInActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.Login.SplashInicio"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="navigation|keyboardHidden|keyboard"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.legacy.prime.activity.Login.ActivityMac"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="navigation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.legacy.prime.activity.MovieActivityTv"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.legacy.prime.activity.AnimeActivityTv"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.legacy.prime.activity.SeriesActivityTv"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.legacy.prime.activity.DetailsMovieActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.legacy.prime.activity.DetailsSeriesActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.legacy.prime.activity.setting.SettingFormatActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.legacy.prime.activity.setting.SettingTimeFormatActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.legacy.prime.activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.legacy.prime.activity.player.PlayerMovieActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.legacy.prime.activity.player.PlayerEpisodesActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="screenSize|orientation|keyboardHidden|locale"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="nordicorework.com.br.nuvixlegacy.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
            android:value="true"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="nordicorework.com.br.nuvixlegacy.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="nordicorework.com.br.nuvixlegacy.com.squareup.picasso"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/zxing_CaptureTheme"
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>
</manifest>
